

$form-color: #1e67c0;
$form-text-color: #ffffff;
$form-wrong-input: #ce0000;
$dark-blue: #3c70b1;
$page-important: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$main-green: #79dd09 !default;
$main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
$main-yellow: #bdbb49 !default;
$main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
$main-red: #bd150b !default;
$main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;
$welcome-message-color:rgb(19, 25, 105);

@mixin form-auth {
    @include page-background;
    padding: 2rem;
    border-radius: 10%;
    width: 40%;
    min-width: 20rem;

    h1 {
        font-weight: bolder;
    }
};


@mixin page-background {
    background: rgb(29, 194, 217);
    background: linear-gradient(90deg, rgba(29, 194, 217, 1) 0%, rgba(126, 105, 212, 0.8183648459383753) 94%);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2%;
}


@mixin modal-style {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(77, 77, 77, 0.452);
    z-index: 3;

    .add-modal {
        position: absolute;
        width: 50%;
        top: 0%;
        left: 30%;
    }
}